<html>

    <head>
        <script src="TEMPLATE_URL"></script>
        <style>
            #main,
            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        </style>
    </head>

    <body>
        <div id="main">
            <div>
                <form>
                    <div id="pay-theory-ach-account-name"></div>
                    <div id="pay-theory-ach-account-number"></div>
                    <div id="pay-theory-ach-routing-number"></div>
                    <div id="pay-theory-ach-account-type"></div>
                    <div><input id="submit-payment" type="submit"/></div>
                </form>
            </div>
            <div id="result-text"></div>
            <div><em>you must replace YOUR-API-KEY in the URL to load the SDK</em></div>
        </div>
        </div>
        <script type="text/javascript">
            // API KEY is required
            const urlParams = new URLSearchParams(window.location.search)
            const API_KEY = urlParams.get('api_key') ? urlParams.get('api_key') : 'NO_API_KEY_PROVIDED'

            const AMOUNT = 5000 + Math.floor(Math.random() * 5000)
            const first_name = urlParams.get('first_name') ? urlParams.get('first_name') : 'Html'
            const last_name = urlParams.get('last_name') ? urlParams.get('last_name') : 'Demo'

            // optionally define custom styles for the input components text
            const STYLES = {
                default: {
                    color: 'black',
                    fontSize: '14px'
                },
                success: {
                    color: '#5cb85c',
                    fontSize: '14px'
                },
                error: {
                    color: '#d9534f',
                    fontSize: '14px'
                }
            }
            window.paytheory.payTheoryFields({
                apiKey: API_KEY
            })

            const cleanupFunction = window.paytheory.validObserver(valid => {
                if (valid.includes("ach")) {
                    document.getElementById('submit-payment').disabled = false
					document.getElementById('submit-payment').onclick = transact
				} else {
					document.getElementById('submit-payment').disabled = true
                }
            })  

            const errCleanupFunction =  window.paytheory.errorObserver(error => {
                document.getElementById('result-text').append(createTextNode(error))
            })            

            const transact = async (e) => {
                // Parameters that you will pass into the transact function. More details below.
                const TRANSACTING_PARAMETERS = { 
                        amount: AMOUNT,
                        billingInfo: {
                            name:`${first_name} ${last_name}`,
                            address: {
                                line1:"123 Sesame St",
                                city:"New York City",
                                region:"New York",
                                postal_code:"12345",
                                country:"US",
                                account_code:"123_1234"
                            }
                        },
                        metadata: {"account_no":"12345","ehr_id":"41DCD97F-8223-6FE6-2C52-6FE6A5ADD469","ehr_source":"cpp","email_address":"anon@gmail.com","facility_id":"1234","health_type":"LAF","mobile_phone":"(123) 456-7890","org_id":"123","origin":"family-portal-authenticated","resident_id":"1234567","resident_name":"ANON RESIDENT"}
                }
                e.preventDefault()
                try {
                    let result = await window.paytheory.transact(TRANSACTING_PARAMETERS)
                
                    if (result.type === "SUCCESS") {
                        const statusContainer = document.getElementById("result-text");
                        statusContainer.textContent = "";
                        statusContainer.appendChild(
                            document.createTextNode("success")
                        );
                    } else if (result.type === "FAILURE") {
                        const statusContainer = document.getElementById("result-text");
                        statusContainer.textContent = "";
                        statusContainer.appendChild(
                            document.createTextNode("failure")
                        );
                    } else if (result.type === "ERROR") {
                        const statusContainer = document.getElementById("result-text");
                        statusContainer.textContent = "";
                        statusContainer.appendChild(
                            document.createTextNode("error")
                        );
                    }
                } catch (error) {
                    const statusContainer = document.getElementById("result-text");
                    statusContainer.textContent = "";
                    statusContainer.appendChild(
                        document.createTextNode(error)
                    );
                    console.log(error)
                }
                
            } 
        </script>
    </body>

</html>
