<html>

    <head>
        <script src="TEMPLATE_URL"></script>
        <style>
            #main,
            form {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
			#forms {
				display: flex;
                flex-direction: row;
                justify-content: flex-start;
			}
			#result-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
			}
        </style>
        <script type="text/javascript">
			const AMOUNT = 5000 + Math.floor(Math.random() * 5000)
            const first_name = 'Html'
            const last_name = 'Demo'
            const billing_name = 'paytheory'
            const email = 'srinithya@paytheory.com'
            const phone = '78906543677'
			const TRANSACTING_PARAMETERS = { 
					amount: AMOUNT,
                    oneTimeUseToken: true,
					billingInfo: {
						name: `${billing_name}`,
						address: {
							line1:"123 Sesame St",
							city:"New York City",
							region:"New York",
							postal_code:"12345",
							country:"US",
						}
					},
                    payorInfo:{
                        first_name:`${first_name}`,
						last_name: `${last_name}`,
                        email: `${email}`,
                        phone: `${phone}`,
                        personal_address: {
                            city: "New York City",
                            country: "USA",
                            region: "New York",
                            line1: "123 Street St",
                            line2: "Apartment 17",
                            postal_code: "12345"
                        }
                    },
                    accountCode: "12345",
					metadata: {"account_no":"12345","ehr_id":"41DCD97F-8223-6FE6-2C52-6FE6A5ADD469","ehr_source":"cpp","email_address":"anon@gmail.com","facility_id":"1234","health_type":"LAF","mobile_phone":"(123) 456-7890","org_id":"123","origin":"family-portal-authenticated","resident_id":"1234567","resident_name":"ANON RESIDENT"}
			}	
		</script>		
    </head>

    <body>
        <div id="main">
            <div id="forms">
                <form>
                    <div id="pay-theory-bank-account-name"></div>
                    <div id="pay-theory-bank-account-number"></div>
                    <div id="pay-theory-bank-institution-number"></div>
                    <div id="pay-theory-bank-transit-number"></div>
                    <div id="pay-theory-bank-account-type"></div>
                    <div><input id="submit-payment" type="submit" disabled/></div>
                </form>
                <form>
                    <div id="amount"><input id="amount-in" type="text"> (amount)</div>
                    <div id="payorInfo-first_name"><input id="payorInfo-first_name-in" type="text"> (first name)</div>
                    <div id="payorInfo-last_name"><input id="payorInfo-last_name-in" type="text"> (last name)</div>
                    <div id="payorInfo-email"><input id="payorInfo-email-in" type="text"> (email)</div>
                    <div id="payorInfo-phone"><input id="payorInfo-phone-in" type="text"> (phone)</div>
                    <div id="payorInfo-personal_address-city"><input id="payorInfo-personal_address-city-in" type="text"> (payor city)</div>
                    <div id="payorInfo-personal_address-country"><input id="payorInfo-personal_address-country-in" type="text"> (payor country)</div>
					<div id="payorInfo-personal_address-region"><input id="payorInfo-personal_address-region-in" type="text"> (payor region/state)</div>
                    <div id="payorInfo-personal_address-line1"><input id="payorInfo-personal_address-line1-in" type="text"> (payor address1)</div>
                    <div id="payorInfo-personal_address-line2"><input id="payorInfo-personal_address-line2-in" type="text"> (payor address2)</div>
					<div id="payorInfo-personal_address-postal_code"><input id="payorInfo-personal_address-postal_code-in" type="text"> (payor zip/postal code)</div>
					<div id="accountCode"><input id="accountCode-in" type="text"> (account code)</div>
                    <div id="billingInfo-name"><input id="billingInfo-name-in" type="text"> (billing name)</div>
                    <div id="billingInfo-address-line1"><input id="billingInfo-address-line1-in" type="text"> (billing address)</div>
                    <div id="billingInfo-address-city"><input id="billingInfo-address-city-in" type="text"> (billing city)</div>
					<div id="billingInfo-address-region"><input id="billingInfo-address-region-in" type="text"> (billing region/state)</div>
					<div id="billingInfo-address-postal_code"><input id="billingInfo-address-postal_code-in" type="text"> (billing zip/postal code)</div>
                    <div id="metadata"><textarea id="metadata-in"></textarea> (metadata)</div>
				</form>				
            </div>
            <div id="result-text"></div>
            <div><em>you must replace YOUR-API-KEY in the URL to load the SDK</em></div>
        </div>
        </div>

		<script type="text/javascript">
			const prepElement = (element) => {
				let selector = element.split("-")
				let value = TRANSACTING_PARAMETERS
				while (selector.length > 0) {
					let selected = selector.shift()
					if (selected === "metadata") {
						value = JSON.stringify(value[selected])
					} else {
						value = value[selected]
					}					
				}
				document.getElementById(`${element}-in`).value = value
				document.getElementById(`${element}-in`).onchange = (e) => {
					let selecting = element.split("-")
					let variable = TRANSACTING_PARAMETERS
					while (selecting.length > 1) {
						let selected = selecting.shift()
						variable = variable[selected]
					}
                    if (element === "amount") {
                        variable[selecting] = parseInt(e.target.value, 10)
                    } else {
                        variable[selecting] = e.target.value
                    }					
				}
			}
			prepElement("amount")
            prepElement("payorInfo-first_name")
			prepElement("payorInfo-last_name")
			prepElement("payorInfo-email")
			prepElement("payorInfo-phone")
			prepElement("payorInfo-personal_address-city")
			prepElement("payorInfo-personal_address-country")
			prepElement("payorInfo-personal_address-region")
            prepElement("payorInfo-personal_address-line1")
			prepElement("payorInfo-personal_address-line2")
			prepElement("payorInfo-personal_address-postal_code")
			prepElement("accountCode")
			prepElement("billingInfo-name")
			prepElement("billingInfo-address-line1")
			prepElement("billingInfo-address-city")
			prepElement("billingInfo-address-region")
			prepElement("billingInfo-address-postal_code")
			prepElement("metadata")
			let lineCount = 0
			const appendLine = (line,line_type) => {
				lineCount = lineCount + 1
				_div = document.createElement('div');
				_div.setAttribute('data-testid', 'result-line-' + line_type);
				_div.appendChild(document.createTextNode(line))
				return _div
			}
            // API KEY is required
            const urlParams = new URLSearchParams(window.location.search)
            const API_KEY = urlParams.get('api_key') ? urlParams.get('api_key') : 'NO_API_KEY_PROVIDED'
            // optionally define custom styles for the input components text
            const STYLES = {
                default: {
                    color: 'black',
                    fontSize: '14px'
                },
                success: {
                    color: '#5cb85c',
                    fontSize: '14px'
                },
                error: {
                    color: '#d9534f',
                    fontSize: '14px'
                }
            }
            window.paytheory.payTheoryFields({
                apiKey: API_KEY,
                country: "CAN"
            })

            const cleanupFunction = window.paytheory.validObserver(valid => {
                if (valid.includes("ach")) {
                    document.getElementById('submit-payment').disabled = false
					document.getElementById('submit-payment').onclick = transact
                    // document.getElementById('result-text').textContent = "";
					let lineType = "ready"
                    document.getElementById('result-text').append(appendLine(lineType,lineType))
				} else {
					document.getElementById('submit-payment').disabled = true
                }
            }) 

            const errCleanupFunction =  window.paytheory.errorObserver(error => {
                // document.getElementById('result-text').textContent = "";
                document.getElementById('result-text').append(appendLine(`error: ${error}`,"error"))
            })            

            const transact = async (e) => {
                // document.getElementById('result-text').textContent = "";
                document.getElementById('result-text').append(appendLine("transact","transact"))

                e.preventDefault()
                try {
                    let result = await window.paytheory.transact(TRANSACTING_PARAMETERS)
                
                    if (result.type === "SUCCESS") {
                        const statusContainer = document.getElementById("result-text");
                    
                        statusContainer.appendChild(
                            appendLine("success","success")
                        );
                    } else if (result.type === "FAILED") {
                        const statusContainer = document.getElementById("result-text");
                    
                        statusContainer.appendChild(
                            appendLine("failure","failure")
                        );
                    } else if (result.type === "ERROR") {
                        const statusContainer = document.getElementById("result-text");
                    
                        statusContainer.appendChild(
                            appendLine("error","error")
                        );
                    }
                } catch (error) {
                    const statusContainer = document.getElementById("result-text");
                    
                    statusContainer.appendChild(
						appendLine(error,"error")
                    );
                    console.log(error)
                }
                
            } 
        </script>
    </body>

</html>